<footer class="footer">
  <div id="social-container">
    <a class="social-icon" href="https://twitter.com/real_maggi">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="social-icon" href="https://www.instagram.com/computersuchti/">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="social-icon" href="https://t.me/real_maggi">
      <i class="fab fa-telegram"></i>
    </a>
    <a class="social-icon" href="https://github.com/MaggiR">
      <i class="fab fa-github"></i>
    </a>
<!--    <a href="">-->
<!--      <i class="fab fa-gitlab"></i>-->
<!--    </a>-->
    <a class="social-icon" href="mailto:spam@rothermel.me" onmousedown="this.href=this.href.replace('spam', 'mark')">
      <i class="fas fa-envelope"></i>
    </a>
    <a class="social-icon" href="https://www.reddit.com/user/real_maggi">
      <i class="fab fa-reddit"></i>
    </a>
    <a class="social-icon" href="https://de.linkedin.com/in/mrothermel">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  {% include copyright.html %}
</footer>
