---
layout: base
title: Mark Rothermel Homepage
permalink: /
# image:
#   path: /assets/images/mark_thumbnail.jpg
#   height: 1160
#   width: 1160
---

<div id="title-background"></div>

<div id="main-screen">
  <div id="main-menu-container">
    <div id="main-menu">
      <span id="main-title">Mark Rothermel</span>
      <a class="main-menu-option" href="{{ '/about' | relative_url }}">About Me</a>
      <a class="main-menu-option" href="{{ '/projects' | relative_url }}">Projects</a>
      <a class="main-menu-option" href="{{ '/blog' | relative_url }}">Blog</a>
      <a class="main-menu-option" href="{{ '/photography' | relative_url }}">Photography</a>
      <a class="main-menu-option" href="{{ '/contact' | relative_url }}">Contact</a>
    </div>
    <div id="main-menu-margin"></div>
  </div>
  {% include footer.html %}
</div>

<script src="{{ '/assets/js/frontpage.js' | relative_url }}"></script>

<!--<div class="posts">-->
<!--  {% for post in paginator.posts %}-->
<!--  <article class="post">-->
<!--    <h1 class="post-title">-->
<!--      <a href="{{ post.url | relative_url }}">-->
<!--        {{ post.title }}-->
<!--      </a>-->
<!--    </h1>-->

<!--    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>-->

<!--    {{ post.content }}-->
<!--  </article>-->
<!--  {% endfor %}-->
<!--</div>-->

<!--<div class="pagination">-->
<!--  {% if paginator.next_page %}-->
<!--    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>-->
<!--  {% else %}-->
<!--    <span class="pagination-item older">Older</span>-->
<!--  {% endif %}-->
<!--  {% if paginator.previous_page %}-->
<!--    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>-->
<!--  {% else %}-->
<!--    <span class="pagination-item newer">Newer</span>-->
<!--  {% endif %}-->
<!--</div>-->
