<div class="card mb-3 post-preview">
  <a href="{{ post.url | relative_url }}">
    <div class="row g-0">
      {% if post.thumbnail %}
      <div class="col-md-4">
        <img src="{{ post.thumbnail.path | relative_url}}"
             class="img-fluid rounded-start post-thumbnail"
             alt="{{ post.title }}">
      </div>
      {% endif %}
      <div class="col{% if post.thumbnail %}-md-8{% endif %}">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <span class="card-text post-teaser">{{ post.excerpt }}</span>
          <p class="card-text">
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
              {{ post.date | date_to_string }}
            </time>
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
