<a href="{{ post.url | relative_url }}">
  <div class="card mb-3 post-preview bg-dark" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <p class="card-text">
            <time datetime="{{ post.date | date_to_xmlschema }}" class="text-muted post-date">
              {{ post.date | date_to_string }}
            </time>
          </p>
        </div>
      </div>
    </div>
  </div>
</a>
