---
layout: default
title: About
image: assets/images/mark_mask.jpg
twitter:
  card: summary
---

<link rel="stylesheet" href="{{ 'assets/css/about.css' | relative_url }}">

<div class="row justify-content-center">
  <div class="card profile">
    <div class="col">
      <div class="row justify-content-center">
        <img src="assets/images/mark_mask.jpg" alt="Picture of Mark" class="round-image">
      </div>
      <div class="row">
        <h2>Mark S. Rothermel, B.Sc.</h2>
        <p>CS Graduate Student</p>
        <p><a href="https://www.tu-darmstadt.de/">@ TU Darmstadt</a></p>
        <p>ML, (X)AI</p>
        <p>1996, Germany</p>
      </div>
    </div>
  </div>
</div>

<h1>Education</h1>

<hr>
{% for e in site.education reversed %}
{% include edu.html %}
{% endfor %}

<h1>Scholarships</h1>
{% for scholarship in site.scholarships reversed %}
{% include scholarship.html %}
{% endfor %}

<h1>Political & Social Engagement</h1>
{% assign engagement_no = 0 %}
{% for engagement in site.engagements reversed %}
{% include engagement.html %}
{% assign engagement_no = engagement_no | plus:1 %}
{% endfor %}

<h1>Other Hobbies</h1>
<p>Besides to political debates and organization I really
  like photography! Check out my photos
  <a href="{{ '/photography' | relative_url }}">here</a>.
  Next to that, I'm also a fan of bike riding, gaming
  (specifically RTS games), singing, cooking and traveling.
</p>

<script src="{{ '/assets/js/about.js' | relative_url }}"></script>
