// Bootstrap color variables

:root {
  --primary: hsl(40, 88%, 53%);
  --primary-hover: hsl(40, 88%, 65%);
  --bg-hover: hsl(200, 3%, 16%);
  --hover-overlay: rgba(255, 255, 255, 0.05);
  --extra-dark: hsl(200, 3%, 6%);
  --color-lines: hsl(0, 0%, 30%);
  --bg-disabled: hsl(200, 3%, 20%);
  --color-disabled: hsl(0, 0%, 45%);
  --color-muted: hsl(0, 0%, 40%);
}

$primary: hsl(40, 88%, 53%);
//$secondary:     $gray-600;
//$success:       $green;
//$info:          $cyan;
//$warning:       $yellow;
//$danger:        $red;
//$light:         $gray-100;
//$dark:          $gray-900;
