h1 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.profile {
  padding: 1em;
  max-width: 16em;
  text-align: center;
}

.round-image {
  max-width: 12em;
  border-radius: 50%;
  margin: 0;
}

.profile p {
  margin: 0;
}

.profile h2 {
  margin-top: 0.5em;
  font-family: Outfit, sans-serif;
}

.edu-title {
  /*font-size: 1.2em;*/
  font-weight: bold;
}

.edu-average {
  color: var(--color-muted);
  text-align: right;
}

.icon {
  margin-right: 0.3em;
}

.scholarship-logo {
  background-color: white;
}

.scholarship-logo img, .engagement-logo img {
  margin: 0;
}

.scholarship-link {
  text-decoration: none;
}

.card-title {
  font-weight: bold;
}

.card a {
  text-decoration: none;
}

.scholarship-logo, .engagement-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 8em;
}

.engagement-logo {
  z-index: 1;
}

.engagement-logo:hover {
  background-color: var(--bg-hover);
}

.scholarship-logo img, .engagement-logo img {
  padding: 1em;
  box-sizing: border-box;
  max-height: 100%;
}

.engagement .row {
  height: 100%;
}

.engagement {
  height: 16em;
  transition: 0.3s;
}

@media screen and (min-width: 576px) {
  /* Bootstrap small size */
  .engagement {
    /*max-height: none;*/
    height: 8em;
  }

  .scholarship-logo, .engagement-logo {
    max-height: 100%;
  }
}

.engagement .card-body {
  padding-bottom: 0;
}

.engagement:before {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  box-shadow: inset 0 -2em 1em -1em var(--body-bg);
  pointer-events: none;
}

.engagement.expand:before {
  box-shadow: none;
}

.expand-toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.engagement:not(.expand) .engagement-details:hover {
  background-color: var(--bg-hover);
}

