#carousel-best-of {
  display: inline-block;
  position: relative;
  width: 100vw;
  background-color: var(--extra-dark);
  margin-left: calc(var(--spacer-2) * -1);
  margin-right: calc(var(--spacer-2) * -1);
}

#ratio-dummy {  /* used for 3:2 aspect ratio */
  margin-top: 66.667%;
}

.carousel-inner, .carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-item {
  justify-content: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 0;
}

@media screen and (min-width:768px) {  /* Bootstrap medium size */
  #carousel-best-of {
    margin: 0;
    width: 100%;
  }
}
