
.collapse-link {
  text-decoration: none;
}

.project-image-sm, .project-image-lg  {
  width: 100%;
  margin: 0 1em 0 0;
}

.project-image-sm img, .project-image-lg img {
  margin-bottom: 0.5em;
}

@media screen and (min-width:768px) {  /* Bootstrap medium size */
  .project-image-sm {
    margin-top: 0.5em;
    width: 50%;
    float: left;
  }
}

.project-filter-label {
  font-weight: bold;
  color: var(--body-color);
}

.project {
  /*transition: 0.3s;*/
}

.hidden {
  display: none;
}

.project-meta {
}

.project-date {
  color: var(--color-muted);
  font-size: 0.9em;
  margin-right: 1em;
}

.project-badge {
  border: solid 1px var(--primary);
  color: var(--body-color);
}

.project-links {
  margin-bottom: 1em;
}

.project-link:not(:first-child) {
  margin-left: 0.5em;
}

#projects-filter {
  margin-bottom: 1rem;
}

.input-group-text {
  height: 100%;
  color: #343a40;
}
